accommodation-soap-service/src/main/resources/accommodationsoap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/tim1/accommodationsoap"
    xmlns="http://www.ftn.uns.ac.rs/tim1/accommodationsoap">
    <xs:element name="getAccommodationCategoriesRequest"/>
    <xs:element name="getAccommodationCategoriesResponse">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="AccommodationCategory"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationTypesRequest"/>
    <xs:element name="getAccommodationTypesResponse">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="AccommodationType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationImagesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationImagesResponse">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="Image"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAdditionalServicesRequest"/>
    <xs:element name="getAdditionalServicesResponse">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="AdditionalService"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Accommodation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="60"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="200"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="id" type="xs:long"/>
                <xs:element ref="AccommodationCategory"/>
                <xs:element ref="AccommodationType"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AdditionalService"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Image"/>
                <xs:element minOccurs="1" ref="Location"/>
                <xs:element ref="User"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AccommodationUnit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccommodationUnit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="capacity">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="default_price">
                    <xs:simpleType>
                        <xs:restriction base="xs:double">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="cancelation_period">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="Day"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccommodationCategory">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string"> </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccommodationType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="60"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdditionalService">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="name">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="60"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Image">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="value" type="xs:base64Binary"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" maxOccurs="1" minOccurs="0"/>
                <xs:element name="address">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="100"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="city">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="50"/>
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="country">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="latitude">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:fractionDigits value="8"/>
                            <xs:totalDigits value="11"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="longitude">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:fractionDigits value="8"/>
                            <xs:totalDigits value="11"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Day">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="date" type="xs:long"/>
                <xs:element name="price">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="0"/>
                            <xs:fractionDigits value="3"/>
                            <xs:totalDigits value="10"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element default="true" name="available" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="first_name" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="last_name" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="2"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="email">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[a-zA-Z][a-zA-Z0-9]*@[a-zA-Z][a-zA-Z0-9]*\.[a-z]{2,}"
                            />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="password" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="user_type" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="registered"/>
                            <xs:enumeration value="admin"/>
                            <xs:enumeration value="agent"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="pib">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:totalDigits value="9"/>
                            <xs:minInclusive value="100000010"/>
                            <xs:maxInclusive value="999999999"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" name="address">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Accommodation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_id" type="xs:long"/>
                <xs:element name="location_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createAccommodationUnitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccommodationUnit"/>
                <xs:element name="accommodation_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createAccommodationUnitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_unit_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Accommodation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateAccommodationUnitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccommodationUnit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateAccommodationUnitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
                <xs:sequence maxOccurs="unbounded" minOccurs="0">
                    <xs:element ref="Day"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteAccommodationUnitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_unit_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteAccommodationUnitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Accommodation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationUnitRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodation_unit_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationUnitResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccommodationUnit"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAccommodationsRequest"/>
    <xs:element name="getAccommodationsResponse">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="Accommodation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createImageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Image"/>
                <xs:element name="accommodation_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createImageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteImageRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="image_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteImageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
